HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Secretos: NUNCA subir al repositorio ###
# Credenciales del correo (clave de aplicacion de Google)
src/main/resources/application-local.properties
# Llave privada de la cuenta de servicio de Firebase
src/main/resources/Firebase/techshop-key.json
